language: python
python:
  - "3.6.0"
install:
  - pip install -r requirements.txt
  - pip install nose
  - pip install pytest
services:
script:
  - pytest
  - coveralls
  - nosetests --exe -v
  - nosetests --exe --with-coverage --cover-package=app
after_success:
  - "coveralls"
