body{font-size:14px}
.jumbotron{
      padding: 20px;
 }
 .main-nav{
    float:right;
 }
 #signin,#signup{margin-left:20px;}
 #signup{margin-right:20px}
 .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 60px;
}
#th1{
    width:60%;
}
#th2{
    width:40%;
}
.signinDiv1{
    background-color: #eee;
    text-align: right;
    border-radius:10px;
    padding-right: 15%;
}
#t1{width:35%;}
#t2{width:35%;}
#t3{width:15%;}

#td3{margin-left:10%}

h2:hover{text-decoration: none;}
th{background-color: #eee;}
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid grey;
    width: 300px;
}
.addbus{
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid grey;
    width: 350px;
    border-radius:5px;
}
#review{
    margin-left: 5%;
    background-color: #eee;
    border:1px solid #ddd;
    color:black;
}
li{font-weight: normal}

.editprofile{
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid grey;
    width: 350px;
    border-radius:5px;
}
#close{margin-left:230px}
#close:hover{
    color: blue;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}